<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LinqToSQL.Properties.Settings.SesResConnectionString"
            connectionString="Data Source=POWERWIN\SQLEXPRESS;Initial Catalog=SesRes;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>